body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* creates the left-border on the download dropdown */
#auto-download { 
  border-radius: .3rem 0 0 .3rem;
}
#download-dropdown {
  border-left: 1px solid rgba(1, 1, 1, 0.1);
  border-radius: 0 .3rem .3rem 0;
}

@media only screen and (max-width: 50rem) {

  .img-logo{
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 50rem) {

  .img-plugin{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

}